# General
.DS_Store
*.log
*.swp
*.bak
*.tmp
*~
.idea
.vscode
*.iml

# Build artifacts
**/target/
**/bin/
**/out/
**/dist/
**/*.jar
**/*.class
**/*.tasty

# SBT specific
project/project/
project/target/
**/project/target/
**/project/project/
**/project/metals.sbt
**/.bsp/
**/.bloop/
**/.metals/
**/.scala-build/

# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
docker-compose.override.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
####################
code/bronzeLayer/bronze/*